.container{
    padding-top: 80px;

}

.signupform{
    margin-top: 60px;
}

img{
    margin-left: -200px;
}

.error{
    display: flex;
    padding: 5px;
}

.btn-link{
    text-decoration: none;
    color:  coral;
    font-size: 20px;
    font-weight: bold;
}